<div class="login-wrapper"  *ngIf="componentFormGroup$ | async as componentFormGroup">
  <div class="login-overlay">
    <form class="login clr-form" #loginForm="ngForm" [formGroup]="componentFormGroup" (ngSubmit)="onFormSubmit(componentFormGroup)">
      <div class="login-logo">
        <img [src]="elewouLogo" alt="ELEWOU" />
      </div>
      <div class="login-group card">
        <div class="card-header title">
          <span class="module-name"> {{ moduleName }} </span>
          <div class="hint" [translate]="'login.loginSubText'"></div>
        </div>
        <div class="form card-block form-container" *ngIf="componentFormGroup">
          <ng-container *ngFor="let value of controlConfigs">
            <app-dynamic-inputs [control]="componentFormGroup.controls[value.formControlName]" [inputConfig]="value">
            </app-dynamic-inputs>
          </ng-container>
          <button type="submit" [disabled]="performingAction" class="btn btn-primary btn-block"><cds-icon shape="login"></cds-icon>{{ "login.loginBtnText" | translate }}</button>
        </div>
        <div class="app-login-footer card-footer">
          <div class="app-login-logo-description">
            <h6>Vous n'avez pas de compte ?</h6>
            <div>Contacter l'administrateur pour disposer d'un accès à cette application</div>
          </div>
        </div>
      </div>
      <div>Powered by LIKSOFT</div>
    </form>
  </div>
</div>
