.login-wrapper {
  background-position: 0;
}

.login-wrapper .login:after {
  background: transparent;
}

.app-login-logo-description {
  padding: .5em .3em;
  text-align: center;
  font-size: 0.5rem;
  margin-top: 1rem;
}

.login-wrapper .login .login-group .btn {
  margin: 2rem 0 0;
  max-width: none;
}

.login-overlay {
  position: relative;
  background: rgba(12, 56, 80, 0.88);
  width: 100%;
}

form.login.clr-form {
  margin: 0 auto;
  background: transparent;
}

form .login-group {
  background: white;
  padding: 24px 27px;
  border-radius: 8px;
}

.title {
  text-align: center;
}

.login-logo {
  position: relative;
  max-width: 100%;
}

.login-logo img {
  position: relative;
  width: 60%;
  max-width: 100%;
}

.login-wrapper .login .title .hint {
font-size: 10px;
margin-bottom: 1rem;
color: #656d71;
}

.module-name {
color: rgb(38, 33, 21);
font-size: 20px;
font-weight: 700;
}
