<div class="login-wrapper light-mode" *ngIf="componentFormGroup$ | async as componentFormGroup">
  <div class="login-overlay">
    <form class="login clr-form" #loginForm="ngForm" [formGroup]="componentFormGroup" (ngSubmit)="onFormSubmit(componentFormGroup)">
      <div class="login-group">
        <div class="title">
          <div class="login-logo">
            <img [src]="cnssLogo" alt="CNSS" />
          </div>
          <!-- <span class="module-name"> {{ moduleName }} </span> -->
          <span class="module-name"> {{ "login.loginText" | translate }} </span>
          <!-- <h5 class="hint" [translate]="'login.loginSubText'"></h5> -->
        </div>
        <div class="form form-container" *ngIf="componentFormGroup">
          <ng-container *ngFor="let value of controlConfigs">
            <app-dynamic-inputs [control]="componentFormGroup.controls[value.formControlName]" [inputConfig]="value">
            </app-dynamic-inputs>
          </ng-container>
        </div>
      </div>
      <div class="login-btn-container">
        <button type="submit" [disabled]="performingAction" class="btn btn-primary special btn-block"><clr-icon shape="login"></clr-icon>{{ "login.loginBtnText" | translate }}</button>
      </div>
    </form>
    <div class="login-sub-section">
      <div class="registration-area">
        <h5 class="registration-header">{{ "login.registerHintText" | translate }}</h5>
        <div class="registration-btn-container">
          <button class="btn btn-outline-app" (click)="viewRouter.navigateByUrl('register')">
            <clr-icon shape="plus"></clr-icon>{{ "login.registerBtnText" | translate }}
          </button>
        </div>
      </div>
      <div class="app-login-footer">
        <div class="company-infos">
          <div class="company-motto">{{ "login.companyMottoText" | translate }}</div>
          <div class="company-website">www.cnss.tg</div>
        </div>
        <div class="app-login-logo-description">
          {{ "login.poweredByText" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
