<div class="login-wrapper">
  <div class="login-overlay" *ngIf="formGroup">
    <form
      class="login clr-form"
      #loginForm="ngForm"
      [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit(formGroup)"
    >
      <div class="login-group">
        <div class="title">
          <div class="login-logo">
            <img [src]="workspaceLogo" alt="EPAY WORKSPACE" />
          </div>
          <div   class="module-name">{{ moduleName }}</div>
          <!-- <h5 class="hint" [translate]="'login.loginSubText'"></h5> -->
        </div>
        <div class="form form-container" *ngIf="formGroup">
          <ng-container *ngFor="let value of controlConfigs">
            <app-dynamic-inputs
              [control]="formGroup.controls[value.formControlName]"
              [inputConfig]="value"
            ></app-dynamic-inputs>
          </ng-container>
          <button
            type="submit"
            [disabled]="performingAction"
            class="btn btn-primary btn-block"
          >
            <clr-icon shape="login"></clr-icon>
            {{ 'login.loginBtnText' | translate }}
          </button>
        </div>
        <div class="app-login-footer">
          <div class="app-login-logo-description">Powered by LIKSOFT</div>
        </div>
      </div>
    </form>
  </div>
</div>
